{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Categorías</title>
    <link rel="stylesheet" href="{% static 'css/categorias.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navigation">
            <div class="navigation_wrapper">
                <div class="middle_nav_wrapper">
                    <div class="middle_nav">
                        <div class="logo">
                            <div class="text_wrapper">MERKACHECHERES</div>
                        </div>
                        <div class="frame">
                            <div class="div_wrapper">
                                <div class="div">
                                    <button class="dropbtn "onclick="window.location.href='{% url 'index' %}'">Inicio</button>
                                </div>
                            </div>
                            <div class="btn_primary_wrapper">
                                <button class="dropbtn" onclick="window.location.href='{% url 'vercategorias' %}'">Categorías</button>
                            </div>        
                            <div class="div_wrapper">
                                <div class="div">
                                    <button class="dropbtn ">Catalogo</button>
                                </div>
                            </div>
                            </div>
                        <div class="buscar">
                            <input type="password" id="password" name="password" placeholder="Buscar algo.." class="navbar">
                        </div>
                        <div class="frame_2">
                            <div class="iniciar_crear_cuenta">

                                
                                <div class="btn_login"> 
                                    {% if not request.session.validar %}
                                        <button class="button_text_wrapper"
                                            onclick="window.location.href='{% url 'login' %}'">Iniciar Sesión</button>
                                    {% endif %}
                                </div>
                                
                                <div class="btn_registro">
                                    {% if not request.session.validar %}
                                        <button class="button_text_wrapper"
                                            onclick="window.location.href='{% url 'registro' %}'">Crear Cuenta</button>
                                    {% endif %}
                                </div>
                                
                            </div>
                            {% if request.session.validar and usuario.rol == 1 %}
                                <div class="btn_admin">
                                    <button class="button_text_wrapper"
                                        onclick="window.location.href='{% url 'admin_dashboard' %}'">ir al Dashboard</button>
                                </div>
                            {% endif %}
                            

                            <div class="icons">
                                {% if request.session.validar and usuario.rol == 3 %}
                                    <div class="vender_button_div" >
                                        <button class="vender-button" id="venderTexto" onclick="window.location.href='{% url 'publicar' %}'">
                                            Vender 
                                                <img src="{% static 'img/vender.png' %}" id="heartButton" alt="Usuario">
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="shopping_cart_simple">
                                    <button class="dropbtn">
                                        <img src="{% static 'img/Heart.png' %}" id="heartButton" alt="Inicio">
                                    </button>
                                </div>
                                
                                <div class="shopping_cart_simple2">
                                    <div class="overlap_group">
                                        <button class="dropbtn" id="carrito-button">
                                            <img src="{% static 'img/Shopping.png' %}" id="shoppingCar" alt="Inicio">
                                        </button>                                            
                                        <div class="frame_3">
                                            <div class="text_wrapper_3">2</div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <div class="shopping_cart_simple3">
                                    {% if request.session.validar %}
                                        <button class="user-slider-button" id="user-button">
                                          <img src="{% static 'img/Vector.png' %}" id="heartButton" alt="Usuario">
                                      </button>
                                    {% endif %}
                                </div>
                                
                                {% if messages %}
                                    <div id="message-container">
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="btn-success" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <aside id="cart-sidebar">
                <button id="close-cart" class="btn btn-light close-btn">
                    <i class="bi bi-x-lg">X</i>
                </button>
                <h2>Carrito de Compras</h2>
                <ul id="cart-items" class="list-group">
                    {% if request.session.carrito %}
                        {% for producto_id, producto in request.session.carrito.items %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                                {% if producto.imagen_url %}
                                    <img src="{{ producto.imagen_url }}" alt="Imagen" style="height:40px;width:40px;object-fit:cover;margin-right:8px;">
                                {% endif %}
                                {{ producto.titulo }} - ${{ producto.precio }} x{{ producto.cantidad }}
                            </span>
                            <div>
                                <button class="btn btn-sm btn-danger" onclick="window.location.href='{% url 'vaciar_carrito' %}'">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </li>
                    {% endfor %}
                    {% else %}
                        <li class="list-group-item text-center">El carrito está vacío</li>
                    {% endif %}
                </ul>
                <div class="cart-footer">
                    
                    <p>Total: $<span id="cart-total">
                        {% if request.session.carrito %}
                            
                        {% else %}
                            0.00
                        {% endif %}
                    </span></p>
                    </span></p>
                    <button id="clear-cart" class="btn btn-danger" onclick="window.location.href='{% url 'vaciar_carrito' %}'">
                        <i class="bi bi-trash"></i> Vaciar Carrito
                    </button>
                    {% if request.session.carrito and request.session.carrito|length > 0 %}
                        <button id="checkout" class="btn btn-success" onclick="window.location.href='{% url 'chat' %}'">
                            <i class="bi bi-credit-card"></i> Contactar vendedores
                        </button>
                    {% endif %}
                </div>
        </aside>
    <aside id="user-sidebar">
        <button id="close-user" class="close-btn" aria-label="Cerrar">&times;</button>
        <div class="user-info">
            <h2>Bienvenido, {{ request.session.validar.nombre }}</h2>
        </div>
        <div class="btn_logout">
            {% if request.session.validar %}
                <button class="botonEditarPerfil" onclick="window.location.href='{% url 'editar_perfil' %}'">
                    Editar perfil
                </button>
                <button class="button_text_wrapper" onclick="window.location.href='{% url 'logout' %}'">
                    Cerrar Sesión
                </button>
            {% endif %}
        </div>
    </aside>
    <br>
    <div class="container">
        <h1>Categorías</h1>
        <div class="grid">
            <div class="card">
                <div class="icon" style="background-color: #23b5e1;">
                    <img src="icons/vapor.png" alt="Vapor">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 1 %}">Electrónica</a></h2>
                    <p>Productos electrónicos</p>
                </div>
            </div>
            <div class="card">
                <div class="icon" style="background-color: #2dc997;">
                    <img src="icons/forge.png" alt="Forge">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 2 %}">Ropa y Accesorios</a></h2>
                    <p>Ropa y accesorios</p>
                </div>
            </div>
            <div class="card">
                <div class="icon" style="background-color: #fa5b5d;">
                    <img src="icons/envoyer.png" alt="Envoyer">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 3 %}">Hogar y Jardín</a></h2>
                    <p>Artículos para el hogar</p>
                </div>
            </div>
            <!-- Agrega más categorías según sea necesario -->
        </div>
    </div>
    <br>
    <div class="container">
        <div class="grid">
            <div class="card">
                <div class="icon" style="background-color: #fa5b5d;">
                    <img src="icons/envoyer.png" alt="Envoyer">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 4 %}">Ferretería</a></h2>
                    <p>Artículos para el hogar</p>
                </div>
            </div>
            
            
            <div class="card">
                <div class="icon" style="background-color: #fa5b5d;">
                    <img src="icons/envoyer.png" alt="Envoyer">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 5 %}">Libros y Papelería</a></h2>
                    <p>Artículos para el hogar</p>
                </div>
            </div>
            <div class="card">
                <div class="icon" style="background-color: #fa5b5d;">
                    <img src="icons/envoyer.png" alt="Envoyer">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 6 %}">Belleza y Cuidado Personal</a></h2>
                    <p>Artículos para el hogar</p>
                </div>
            </div>
            <!-- Puedes seguir agregando más categorías similares -->
        </div>
    </div>
    <br>
    <div class="container">
        <div class="grid">
            <div class="card">
                <div class="icon" style="background-color: #fa5b5d;">
                    <img src="icons/envoyer.png" alt="Envoyer">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 7 %}">Juguetes</a></h2>
                    <p>Artículos para el hogar</p>
                </div>
            </div>
            <div class="card">
                <div class="icon" style="background-color: #fa5b5d;">
                    <img src="icons/envoyer.png" alt="Envoyer">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 8 %}">Deporte</a></h2>
                    <p>Artículos para el hogar</p>
                </div>
            </div>
            <div class="card">
                <div class="icon" style="background-color: #fa5b5d;">
                    <img src="icons/envoyer.png" alt="Envoyer">
                </div>
                <div class="text">
                    <h2><a href="{% url 'categoria_producto' 9 %}">Vehículos</a></h2>
                    <p>Artículos para el hogar</p>
                </div>
            </div>
            <!-- Puedes seguir agregando más categorías similares -->
        </div>
    </div>
    <footer class="footer">
        <div class="frame-23">
            <div class="frame-24">
                <div class="sobre_nosotros frame-25">
                    <a class="text_wrapper-12" onclick="window.location.href='{% url 'sobre_nosotros' %}'">Sobre Nosotros</a>
                    <div class="inicio-cat-logo-de">Inicio<br />Catálogo de productos<br />Cómo
                        funciona<br />Contacto</div>
                </div>
                <div class="enlaces frame-25">
                    <div class="text_wrapper-12">Enlaces Útiles</div>
                    <div class="inicio-cat-logo-de">Inicio<br />Catálogo de productos<br />Cómo
                        funciona<br />Contacto</div>
                </div>
                <div class="soporte frame-25">
                    <div class="text_wrapper-12">Soporte al Cliente</div>
                    <p class="text_wrapper-13">
                        Preguntas Frecuentes (FAQ)<br />Políticas de Devolución<br />Términos y
                        Condiciones<br />Política de
                        Privacidad<br />Centro de Ayuda o Soporte
                    </p>
                </div>
                <div class="contacto frame-25">
                    <div class="text_wrapper-12">Contacto</div>
                    <div class="text_wrapper-13">soporte@merkachecheres.com<br />+57 323 58545 852</div>
                </div>
            </div>
            <div class="frame-28">
                <div class="frame-29">
                    <p class="text_wrapper-15">
                        Únete a nuestra comunidad y recibe descuentos y noticias directamente en tu correo
                    </p>
                </div>
                <div class="frame-30">
                    <div class="contenedor_inputs">
                        <div class="email">
                            <img class="group-2" />
                        </div>
                        <input type="email" name="" id="" class="text-field" placeholder="Ingresa tu correo electronico">
                    </div>
                        <button class="butttons-secondary" 
                        onclick="window.location.href='{% url 'registro' %}'">Suscríbete ahora</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="frame-26">
                <p class="text_wrapper-14">
                    © 2024 Merkachécheres. Todos los derechos reservados. Los productos, imágenes y
                    descripciones publicados
                    son propiedad de sus respectivos dueños. Merkachécheres no se hace responsable por la
                    precisión del
                    contenido publicado por los usuarios. Consulta nuestros términos y condiciones para más
                    información.
                </p>
                <div class="frame-27"></div>
            </div>
        </div>
        
</footer>
    <script src="{% static 'js/carrito-sidebar.js' %}"></script>
    <script src="{% static 'js/user-sidebar.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
